In [1]:
#IMPORTANDO A BIBLIOTECA PANDAS
import pandas

In [2]:
'''
LENDO O ARQUIVO A SER TRABALHADO
por padrao, a função rede_csv lerá um arquivo  separado por vírgura;
nossos dados Gapminder estão separados por tabulações
podemos usar o parâmetro sep e representar uma tabulação com \t
'''
df = pandas.read_csv('gapminder.tsv', sep='\t')

In [3]:
#Verificando se estamos trabalhando com um DataFrame do Pandas, para isso usamos a função 'type'
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [4]:
# a função 'shape' obtém  o numero de linhas e colunas
print(df.shape)

(1704, 6)

In [5]:
#Para se trabalhar com colunas, devemos primeiramente identifica-las, para isso usa-se o atributo columns
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [6]:
#verificando o tipos de dados das colunas
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [7]:
#Obtendo mais informações
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [8]:
#Visualizando as cinco primeiras linhas do arquivo
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
#Se quisermos observar apenas as cinco primeiras linhas de uma determinada coluna, suce colchetes.
country_df = df['country']

In [10]:
#mostra as 5 primeiras observações 
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [11]:
#Mostra as 5 ultimas observaçoes
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [12]:
#especificando várias colunas para a mesma variável
subset = df[['country', 'continent','year']]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [13]:
#Obtendo subconjunto de linhas atraves do rótulo.
#Obtém a primeira linha
#python começa a contar de 0
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [14]:
#Obtendo a centésima linha
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [15]:
#obtendo a última linha
#Usa o primeiro valor dado por shape para obter o numero de linhas
#Subtrai 1 do valor, pois queremos o valor do último indice
numero_de_linhas = df.shape[0]
ultima_index_linha = numero_de_linhas - 1
print(df.loc[ultima_index_linha])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [16]:
#outra maneira é usar o tail para devolver a ultima linha, em vez de 5
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [17]:
#Obtenção de de subconjuntos com linhas variadas
print(df.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [18]:
# Obtendo subconjunto de linhas pelo numero das linhas: iloc
'''
Observa-se que o iloc faz o mesmo que o loc, no entanto, o iloc utiliza o numero de indece das linhas.
'''
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [19]:
# com o iloc podemoss passar o -1 para obter a ultima linha, o que não era possível com o loc

print(df.iloc[-1])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object



Combinando tudo
O loc e iloc faz uso de colchetes com uma virgula, a primeira parte corresponde a linhas e a segunda das colunas.
df.iloc[[linhas],[colunas]]
- Pode-se utilizar o slicing do pyton.
- Se usarmos apenas :, o atributo referirá a tudo.

In [22]:
# obtendo um subconjunto de colunas com loc
# observe os 2 pontos ':' para selecionar todas as linhas

subset = df.loc[:,['year','pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [23]:
# obterndo um subconjunto de colunas com iloc
# o iloc nos permite usar inteiros
# - utilizamos o -1 para a selecionar a ultima coluna

subset = df.iloc[:,[2, 4, -1]]
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [25]:
#cria um intervalo de inteiro de 0 a 4
small_range = list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [28]:
subset = df.iloc[:, small_range]
print(subset.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [31]:
#criando um intervalo de 3 a 5
small_range = list(range(3,6))
subset = df.iloc[:,small_range]
print(subset.head())

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [32]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:,small_range]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [33]:
#FATIANDO DUAS COLUNAS
#fatia as 3 primeiras colunas
subset = df.iloc[:,:3]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [34]:
# O processo do fatiamento é semelhante ao range, utilzado anteriomente
# Nesse processo iremos delimitar o intervalo do fatiamento das colunas
# iniciando no 0 e indo até o 6 de 2 em 2 passos
subset = df.iloc[:, 0:6:2]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [40]:
subset = df.iloc[:, 0:6:] # De 0 até 6 de 1 em 1
print(subset.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [42]:
subset = df.iloc[:, 0::2] # De 0 até 2 de 2 em 2
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [43]:
#usando loc
print(df.loc[42, 'country'])

Angola

In [44]:
#usando iloc
print(df.iloc[42, 0])

Angola

In [45]:
#Obtendo subconjunto de varias linhas e colunas
print(df.iloc[[0, 9, 99],[0, 3, 5]])

        country  lifeExp   gdpPercap
0   Afghanistan   28.801  779.445314
9   Afghanistan   41.763  635.341351
99   Bangladesh   43.453  721.186086

In [46]:
#Lembre0se de que podemos usar a sintaxe de fatiamento na parte refente às linhas dos atributos loc e iloc

print(df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [49]:
'''
Medidas agrupadas
'''
#Para cada ano em nossos dados, qual era a expectativa de vida média?
#para responder essa pergunta,
#temos que separar nossos dados em partes, de acordo com o ano;
#em seguida, obtemos a coluna 'lifExp' e calculamos a média

print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [50]:
# Agrupando várias colunas
# A barra investida nos permite quebrar uma linha longa de código python em varias linhas
# df.grouby(['year', 'continent'])[['lifeExp', 'dfpPercap']].mean()
# É o mesmo que o código a seguir:
mult_grupo_var = df.\
    groupby(['year', 'continent'])\
    [['lifeExp', 'gdpPercap']].\
    mean()
print(mult_grupo_var)

'''
Os dados de saída estão agrupados por ano e por continente. Para cada par ano-continente, calculamos a expectativa
média e o GDP médio. Os dados tambpem são exividos de modo um pouco diferente. Observe que os 'nomes das colunas'
não estão no mesmo na mesma linha que os 'nomes das colunas' de expectativa de via e GPD.
'''

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [52]:
# caso precise achatar  datagrame, use o métodp reset_index

flat = mult_grupo_var.reset_index()
print(flat.head(15))

    year continent    lifeExp     gdpPercap
0   1952    Africa  39.135500   1252.572466
1   1952  Americas  53.279840   4079.062552
2   1952      Asia  46.314394   5195.484004
3   1952    Europe  64.408500   5661.057435
4   1952   Oceania  69.255000  10298.085650
5   1957    Africa  41.266346   1385.236062
6   1957  Americas  55.960280   4616.043733
7   1957      Asia  49.318544   5787.732940
8   1957    Europe  66.703067   6963.012816
9   1957   Oceania  70.295000  11598.522455
10  1962    Africa  43.319442   1598.078825
11  1962  Americas  58.398760   4901.541870
12  1962      Asia  51.563223   5729.369625
13  1962    Europe  68.539233   8365.486814
14  1962   Oceania  71.085000  12696.452430

In [55]:
# Contadores de frequencia agrupados
# Uso de nunique (number unique)
# Calcula o numero de valores unicos em uma série
print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [57]:
#plotagem Básica
expectativa_de_vida_global_anual = df.groupby('year')['lifeExp'].mean()
print(expectativa_de_vida_global_anual)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [58]:
expectativa_de_vida_global_anual.plot()