# DADOS AUSENTES

Raramente você receberá um conjunto de dados sem qualquer valor ausente. Há mjuitas representações para dados ausentes. nos bancos de dados, são valores NULL; certas linguagens de programação usam NA, e , dependendo da origem de seus dados, valores ausentes podem ser uma string vazia, '', ou até mesmo valores numericos como 88 ou 99. Pandas exibe valores sausentes como NaN.

<i>
1) O que é Dados Ausentes? <br>
2) Como os valores ausentes são criados?<br>
3) Como recodificar e fazer calculos com valores ausentes?<br>
</i>

<h6>O que é um valor NaN?

O valor Nan no Pandas é proveniente do <i>numpy</i>. Valores ausentes podem ser usados ou exividos de alugumas maneiras em Python -NaN, NAN ou nan -, mas são todos equivalentes.

In [6]:
from numpy import NaN, NAN 

'''Os valores ausente são diferente de outros tipos de dados, pois não são realmente iguais a nada. O dado está ausente, 
portanto não hpa um conceito de igualdade, NaN não é equivalente a 0 nem a uma string vazia.
verifique os testes de igualdade:
'''

'Os valores ausente são diferente de outros tipos de dados, pois não são realmente iguais a nada. O dado está ausente, \nportanto não hpa um conceito de igualdade, NaN não é equivalente a 0 nem a uma string vazia.\nverifique os testes de igualdade:\n'

In [8]:
print(NaN == True)

False

In [10]:
print(NaN == False)

False

In [11]:
print(NaN == 0)

False

In [13]:
print(NaN == '')

False

Valores ausentes também não são iguais a outros valores ausentes.

In [15]:
print(NaN == NaN)

False

O pandas tem métodos imbutidos para testar um valor ausente.

In [17]:
import pandas as pd
print(pd.isnull(NaN))

True

O pandas também tem métodos para testar valores não ausentes

In [19]:
print(pd.notnull(NaN))

False

<h6> De onde vem os dados ausentes?</h6><br>
Podemos obter dados ausentes quando carregarmos um conjunto de dados com esses valores, ou do processo de manipulação dos dados (data munging)<br>

Na função 'read_csv' três parâmetros estão relacionados com a leitura de valores ausentes: na_values, keep_defaut_na e na_filter.<br>
   1) na_values: nos permite especificar valores ausentes;<br>
   2) keep_defalt_na: é um parâmetro boleano que permite especificar se algum valor adicional deve ser considerado ausente.<br>
   3) na_filter é um boll que determinará se algum valor será lido como ausente.

In [23]:
# Define o local em que estão os dados
visited_file = 'data/survey_visited.csv'

# Carrega os dados com valores default
print(pd.read_csv(visited_file))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [25]:
# Carrega os dados sem valores ausentes default
print(pd.read_csv(visited_file, keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [27]:
# Especifica manualmente os valores default
print(pd.read_csv(visited_file,
                 na_values=[''],
                 keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

# Combinando Dados

In [29]:
visited = pd.read_csv('data/survey_visited.csv')
survey = pd.read_csv('data/survey_survey.csv')

In [30]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [31]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [32]:
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [33]:
# Valores ausentes em uma Series
num_legs = pd.Series({'goat':4, 'amoeba': nan})
print(num_legs)

goat      4.0
amoeba    NaN
dtype: float64

In [39]:
# Valores ausentes em um DataFrame
scientists = pd.DataFrame({
    'Name':['Rosaline Franklin', 'William Gosset'],
    'Occupation':['Chemist', 'Statisticioan'],
    'Born':['1920-07-25', '1823-09-37'],
    'Died':['1956-04-28', '1900-01-01']})
print(scientists)

                Name     Occupation        Born        Died
0  Rosaline Franklin        Chemist  1920-07-25  1956-04-28
1     William Gosset  Statisticioan  1823-09-37  1900-01-01

In [40]:
#Você pode atribuir diretamente uma coluna de valores ausentes a um dataframe.

scientists['missing'] = nan
print(scientists)

                Name     Occupation        Born        Died  missing
0  Rosaline Franklin        Chemist  1920-07-25  1956-04-28      NaN
1     William Gosset  Statisticioan  1823-09-37  1900-01-01      NaN

# Reindexaçao

Outra maneira de introduzir valores ausentes em seus dados é reindexando o seu dataframe. Isso é conveniente quando queremos adicionar novos indices em nosso dataframe, mas queremos preservar seus valores originais. Um uso comum é quando o indicie representa algum intervalo de tempo e queremos adicionar mais datas.

se quiséssemos observar somente os anos de 2000 a 2010 da plotagem de dados  Gapminder, poderiamos executar as mesmas operações agrupadas, obter um subconjunto dos dados e então os reindexar.

In [41]:
gapminder = pd.read_csv('data/gapminder.tsv', sep='\t')
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [42]:
# podemos reindexar fatiando os dados
# Voc~e pode continuar a encadear o 'loc' do codigo anterior
print(life_exp.loc[range(2000, 2010), ])

year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64

C:\Users\Rennan Cardoso\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until

Como alternativa, podemos obter o subconjunto dos dados separadamente e usar o método reindex

In [43]:
# Obterm o subconjunto
y2000 = life_exp[life_exp.index>2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [44]:
# Reindexa 
print(y2000.reindex(range(2000, 2010)))

year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64

# Trabalhando Dados Ausentes

In [45]:
#Contanto dados ausentes
ebola = pd.read_csv('data/country_timeseries.csv')
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

Você pode subtrair o número de linhas não ausentes do número total de linhas.

In [47]:
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()

In [48]:
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

Se quiser contar o número total de valores ausente em seus dados, ou contar o número de valores ausentes em uma coluna em particular, você poderá usar a função cont_nonzero do numpy em conjunto com o métodos isnull.

In [49]:
import numpy as np
print(np.count_nonzero(ebola.isnull()))

1214

In [50]:
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

29

In [52]:
# obtém os 5 primeiro contadores de valores da coluna Cases_guinea
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

NaN       29
 86.0      3
 495.0     2
 112.0     2
 390.0     2
Name: Cases_Guinea, dtype: int64

Há muitas maneiras de diferentes com as quais podemos lidar com dados ausentes. Por exemplo, podemos substituir os dados ausentes por outro valor, preenchelos usando dados existentes ou descartá-los do nosso conjunto de dados.

In [53]:
# Recodificar/Substituir
'''
Podemos usar o método fillna para recodificar os valores ausentes, transformando-os em outro valor. Por exemplo, 
suponha que quiséssemos que os valores ausentes fossem recodificados como 0.
'''
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [54]:
# Preenchimento para frente
'''
Podemos usar métodos  embutidos para fazer preenchimentos para a frente(forward) ou para trás (backward). 
Quando preenchemos os dados para a frente, o último valor conhecido é usado para o próximo valor ausente. 
Desse modo, os valores ausentes são  substituídos pelo último valor conhecido/registrado. 
'''
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [56]:
# Preencimento para trás

print(ebola.fillna(method='bfill').iloc[:, 0:5].tail())

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

Se uma coluna terminar com um valor ausente, esse dado permanecerá ausente, pois não haverá nenhum valor novo com o qual fazer um preenchimento.

# Interporlação

A interporlação usa valores existentes para preencher valores ausentes. Embora haja muitas maneiras de preencher valores ausentes, a interpolação no Pandas preenche os valores ausetnes de modo linear. Especificamente, os valores ausentes são tratados como se devessem estar igualmente espaçados.

In [58]:
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

# Descartando dados ausentes
Descartar os dados ausentes pode influenciar diretamente a base de dados.

In [60]:
'''
O parâmetro row permite especificar se uma linha (ou coluna) será descartada quando algum dado ('Any') ou todos ('All') 
estiverem ausentes. O parâmetro thresh permite especificar quantos valores diferentes de NaN devemos ter para 
descartar a linha ou a coluna.
'''
print(ebola.shape)

(122, 18)

In [61]:
'''
Se somente os casos de dados completos forem mantidos em nosso conjunto de dados Ebola, 
ficaremos com apenas uma linha de dados
'''
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)

(1, 18)

In [62]:
print(ebola_dropna)

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

# Cálculos com dados ausentes

In [63]:
'''
Suponha que quiséssemos ver os contadores de casos para várias regiões. Podemos somar várioas regioes a fim de obter uma nova
coluna que armazene os contadores de casos.
'''
ebola['Cases_multiple'] = ebola['Cases_Guinea']+\
                          ebola['Cases_Liberia']+\
                          ebola['Cases_SierraLeone']

In [64]:
# Vamos observar as 10 primeiras linhas de cálculo.
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia',
                            'Cases_SierraLeone', 'Cases_multiple']]
print(ebola_subset.head(10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0